{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!
{% endblock %}

{% block body %}
	<section class="articles">
		<article>
			<h2>Titre de l'article</h2>
			<div class="metadata">Ecrit le 04/04/2022 à 17:20 dans la catégorie Politique</div>
			<div class="content">
				<img src="" alt="">
				<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic, laborum quis veniam perspiciatis ex eos, et pariatur natus vero, quasi voluptates nesciunt delectus corrupti nostrum? Est pariatur quaerat repellendus illum!</p>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis laboriosam necessitatibus quo expedita culpa consectetur esse aut ducimus harum maxime ipsam tempora modi pariatur voluptates, fugit dolorum id? Ipsa, ut.</p>
				<a href="#" class="btn btn-primary">Lire la suite</a>
			</div>
		</article>
        <article>
			<h2>Titre de l'article</h2>
			<div class="metadata">Ecrit le 04/04/2022 à 17:20 dans la catégorie Politique</div>
			<div class="content">
				<img src="" alt="">
				<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic, laborum quis veniam perspiciatis ex eos, et pariatur natus vero, quasi voluptates nesciunt delectus corrupti nostrum? Est pariatur quaerat repellendus illum!</p>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis laboriosam necessitatibus quo expedita culpa consectetur esse aut ducimus harum maxime ipsam tempora modi pariatur voluptates, fugit dolorum id? Ipsa, ut.</p>
				<a href="#" class="btn btn-primary">Lire la suite</a>
			</div>
		</article>
        <article>
			<h2>Titre de l'article</h2>
			<div class="metadata">Ecrit le 04/04/2022 à 17:20 dans la catégorie Politique</div>
			<div class="content">
				<img src="" alt="">
				<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic, laborum quis veniam perspiciatis ex eos, et pariatur natus vero, quasi voluptates nesciunt delectus corrupti nostrum? Est pariatur quaerat repellendus illum!</p>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis laboriosam necessitatibus quo expedita culpa consectetur esse aut ducimus harum maxime ipsam tempora modi pariatur voluptates, fugit dolorum id? Ipsa, ut.</p>
				<a href="#" class="btn btn-primary">Lire la suite</a>
			</div>
		</article>
	</section>
{% endblock %}
